<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Primera Plantilla</title>
</head>
<body>
    <h1>PRIMERA PLANTILLA</h1>
    <P>Este es el contenido de la plantilla</P>

    <p>Nombre = {{ nombre }}</p>
    <p>Apellido = {{ apellido }}</p>
    <p>Edad = {{ edad }}</p>

    <p> Lista de Notas</p>

    <ul>
        {% for nota in lista %}
        
        {% if nota > 6 %} 

        <li style="color: green">nota Aprobada : {{ nota }}</li>

        {% else %}

        <li style="color: red;"> nota Desaprobada : {{ nota }}</li>
        
        {% endif  %}

        {% endfor %}
        
    </ul>

    
</body>
</html>